<div class="ui container">
  <div class="ui grid">
    <div class="six wide column" id="heading">
      <h1 class="ui header">Unlimited Video Chats</h1>

      <p class="sub header">
        Create video calls with friends and family with one click! No sign ups.
        No downloads required.
      </p>

      <div class="ui animated fade large red button" tabindex="0">
        <div class="visible content">Start Your Video Call</div>
        <div class="hidden content">100% Free</div>
      </div>
    </div>

    <div class="ten wide column">
      <img src="assets/images/hero.png" />
    </div>
  </div>
  <br />
  <h4 class="ui horizontal divider">Why IO Video Chat</h4>
  <br />
  <div>
    <div class="ui statistics grid">
      <div class="statistic four wide column">
        <div class="value">22</div>
        <div class="label">Partners</div>
      </div>
      <div class="statistic four wide column">
        <div class="value">31,200</div>
        <div class="label">Daily Calls</div>
      </div>
      <div class="statistic five wide column">
        <div class="value">Unlimited</div>
        <div class="label">Video Calls</div>
      </div>
    </div>
  </div>

  <br />

  <br />
  <h4 class="ui horizontal divider">Features Supported</h4>
  <br />

  <div>
    <div class="ui huge horizontal list" id="features">
      <div class="item">
        <i class="tv big grey icon"></i>
        <div class="content">
          <div class="header">Meetings</div>
          <p>Online Meetings, Training & Technical Support</p>
        </div>
      </div>
      <div class="item">
        <i class="keyboard big outline grey icon"></i>
        <div class="content">
          <div class="header">Chating</div>
          <p>Integrations and bots to use with IO Chat</p>
        </div>
      </div>
      <div class="item">
        <i class="laptop big grey icon"></i>
        <div class="content">
          <div class="header">Webnars</div>
          <p>Marketing Events & Town Hall Meetings</p>
        </div>
      </div>

      <div class="item">
        <i class="th big grey icon"></i>
        <div class="content">
          <div class="header">Video Conferences</div>
          <p>Build Collaboration-Enabled Conference Rooms</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
