<div class="footer">
  <div class="ui container">
    <div class="ui centered grid" id="main">
      <div class="four wide column" id="info">
        <img src="assets/images/logo.png" />
        <h3 class="ui header">IO Video Chat</h3>
        <p>Build Collaboration-Enabled Conference Rooms</p>
      </div>
      <div class="four wide column">
        <h3 class="ui header">Features</h3>
        <ul class="ui list">
          <li>Meetings</li>
          <li>Chatting</li>
          <li>Webnars</li>
          <li>Video Conferences</li>
        </ul>
      </div>
      <div class="four wide column">
        <h3 class="ui header">Secondary Menu</h3>
        <ul class="ui list">
          <li>Meetings</li>
          <li>Chatting</li>
          <li>Webnars</li>
          <li>Video Conferences</li>
        </ul>
      </div>
      <div class="four wide column">
        <h3 class="ui header">Subscribe</h3>
      </div>
    </div>
  </div>
  <div id="bottom-bar">
    <div class="ui grid">
      <div class="eight wide column"><p>Developed By Paul Ngisiro</p></div>
      <div class="eight wide column" id="copyright">
        <p>@Copyright - All right Reserved 2021</p>
      </div>
    </div>
  </div>
</div>
